/********************************

OVERALL STYLES

*********************************/

/*-----------------------

FORMATTING

-----------------------*/

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 100%;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Courier New";
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
	display: inline-block;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav {
	text-transform: uppercase;
	letter-spacing: 1.5px;
}


.introduction, .outro {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.add-margin {
	margin: 60px 50px;
}

.add-padding {
	padding: 60px 50px;
}



/*-----------------------

COLORS

-----------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #052A45;
}

span {
	color: #E06245;
}

nav a {
	color: #052A45;
}

/*** LINKS ****/

li a {
	transition: .5s ease;
}

li a:hover {
	color: rgba(5, 42, 69, .4);
}

.current_page_item a, 
.page-intro-content a, 
.page-intro-content a:visited {
	color: #E06245;
	transition: .5s ease;
}

.current_page_item a:hover,
.page-intro-content a:hover {
	color: rgba(224, 98, 69, .4);
}

/*** BUTTONS ****/

.button, input[type="submit"] {
	display: inline-block;
	/*background-color: #052A45;*/
	background-color: #E06245;
	transition: .5s ease;
}

.button:hover, input[type="submit"]:hover {
	/*background-color: rgba(5, 42, 69, .6);*/
	background-color: rgba(244, 98, 69, .6);
}

.button a {
	padding: 12px;
	display: inline-block;
	color: #fff;
	font-family: "Courier New";
}


/*** FOOTER ***/

.footer-social-wrap {
	background-color: #052A45;
}

.footer-social-wrap h3 {
	color: #fff;
}

.outro {
	background-color: rgba(172, 182, 191, 0.3);
}



/********************************

HEADER

*********************************/

.primary-nav-top {
	display: flex;
	justify-content: space-between;
	align-items: baseline; 
}


/*-----------------------

HOME ICON

-----------------------*/

.nav-top-icon {
	width: 200px;
	text-align: center;
}

.nav-top-icon p {
	font-size: .8em;
}



/*-----------------------

NAV ITEMS

-----------------------*/

.nav-wrap {
	width: 48%;
}

.nav-wrap .menu {
	display: flex;
	justify-content: space-between;
}


.primary-nav-top a {
	padding: 6px;
}




/********************************

FRONT PAGE

*********************************/

/*-----------------------

INTRODUCTION

-----------------------*/

.introduction h1 {
	font-size: 3em;
}

.intro-col {
	width: 40%;
}


/*-----------------------

SKILLS LIST

-----------------------*/

.skills {
	text-align: center;
	width: 80%;
	margin: 150px auto 0px;
	display: flex;
	justify-content: space-between;
	align-items: top;
}

.single-skill {
	width: 28%;
}

.single-skill img {
	width: 80px;
}

.sub-skills {
	margin-top: 20px;
}

.sub-skills li {
	margin-bottom: 10px;
	color: rgba(84, 84, 91, .8);
}

/*-----------------------

LEARN MORE

-----------------------*/

.home-learn-more {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 240px;
}


/*-----------------------

OUTRO

-----------------------*/

.outro {
	font-family: "Courier New";
	font-size: 1.5em;
}

.outro-col {
	width: 30%;
}



/********************************

PAGE: CONTACT

*********************************/

div.wpcf7 {
	text-transform: uppercase;
	
}

div.wpcf7 label {
	color: #052A45;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type="text"],
input[type="email"],
textarea {
	border: 2px solid #ACB6BF;
	box-shadow: none;
	width: 100%;
	font-size: 1.2em;
	padding: 6px;
}

input[type="submit"] {
	font-family: "Courier New";
	color: #fff;
	border: none;
	margin-top: 20px;
	padding: 8px 14px;
}




/********************************

INDEX PAGE: GENERAL

*********************************/

/*-----------------------

PAGE HEADER / INTRO

-----------------------*/

.page-intro {
	text-align: center;
}

.page-intro h1 {
	font-size: 3em;
}

.page-intro-image {
	width: 60px;
	margin: 0 auto;
}

.page-intro-content {
	text-align: justify;
	width: 50%;
	margin: 30px auto 100px;
}




/********************************

PAGE: PORTFOLIO

*********************************/

.click-project {
	text-align: center;
	margin-top: 40px;
}

.click-project img {
	width: 30px;
}

/*-----------------------

LISTS OF CATEGORIES

-----------------------*/

.project-contain {
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
}

.project-type-wrap {
	width: 30%;
	text-align: center;
}

.project-type-wrap p {
	transition: .5s ease;
}

.project-type-wrap p:hover {
	color: #E06245;
	cursor:pointer;
}




/*-----------------------

SLIDER FORMATTING

-----------------------*/

.reveal {
	background-color: rgba(172, 182, 191, 0.3);
	padding: 50px 80px;
	display: flex;
	justify-content: space-between;
}

.reveal h3 {
	font-size: 2em
}

.reveal h4 {
	margin: 40px 0 10px;
}

.reveal-col {
	width: 45%;
}

.reveal-img {
	margin-bottom: 40px;
}

.reveal-col h3, .reveal-col h4, .reveal-col p, .reveal-col li {
	color: rgba(5, 42, 69, .7);
}

.reveal-col li {
	list-style-type: disc;
	list-style-position: inside;
}

.row {
	display: none;
}




/********************************

FOOTER

*********************************/

.footer-social-wrap {
	text-align: center;
}

.footer-social-wrap h3 {
	padding: 40px 0 0;
}

.footer-social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-social-icon {
	width: 30px;
	margin: 40px 40px 60px;
}

.footer-wrap {
	font-size: .85em;
}

.footer-wrap p {
	margin-top: 40px;
	text-align: center;
	font-family: "Courier New";
}





/********************************

COMING SOON

*********************************/

.coming-soon {
	text-align: center;
	padding: 0  0 80px 0;
}







/********************************

RESPONSIVE NAV

*********************************/



@media screen and (min-width: 880px) { 
	#toggle {
		display:none;
	}
 
} 
 
@media screen and (max-width: 879px) { 
	#popout {
		position: fixed;
		height: 100%;
		width: 250px;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, .9);
		color: white;
		top: 0px;
		left: -250px;
		overflow:auto;
	}
 
 
	#toggle {
		float: right;
		width: 22px;
		height: 22px;
	 
	}

	.nav-wrap .menu {
		flex-direction: column;
		padding: 20px;
	}

	.nav-wrap .menu li {
		padding: 14px 0;
		margin: 5px 0;
	}
} 


/********************************

MEDIA QUERIES

*********************************/

@media only screen and (max-width: 880px) {

	.intro-col:first-of-type, .outro-col:first-of-type {
		width: 68%;
		font-size: .8em;
	}

	.intro-col:last-of-type, .outro-col:last-of-type {
		width: 25%;
	}

	.skills {
		margin-top: 30px;
		width: 90%;
	}

	.single-skill {
		width: 31%;
	}

	.page-intro-content {
		width: 70%;
		margin-bottom: 30px;
	}


}


@media only screen and (max-width: 650px) {

	.skills {
		flex-wrap: wrap;
	}

	.single-skill {
		width: 100%;
		margin-top: 20px;
	}

	.page-intro-content {
		width: 84%;
	}

	.project-contain {
		flex-wrap: wrap;
	}

	.project-type-wrap {
		margin-top: 20px;
		width: 50%;
	}

	.reveal {
		padding: 40px 30px;
		font-size: .9em;
	}



}


@media only screen and (max-width: 375px) {
	.page-intro-content {
		font-size: .9em;
	}

	.introduction {
		flex-wrap: wrap;
		justify-content: center;
	}

	.intro-col:first-of-type, .outro-col:first-of-type {
		width: 100%;
	}

	.intro-col:last-of-type, .outro-col:last-of-type {
		display: none;
	}

	.reveal {
		flex-wrap: wrap;
	}

	.reveal-col {
		width: 100%;
	}

	.reveal-col:first-of-type {
		margin-bottom: 30px;
	}

}

